/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* line 12, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 16, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 37, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 41, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
body {
  line-height: 1;
}

/* line 44, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 47, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 50, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 55, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_common.scss */
html {
  height: 100%;
}

/* line 5, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_common.scss */
body {
  background: #262626;
  color: #fafafa;
  font: 16px/1.6 helvetica;
}

/* line 11, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_common.scss */
main {
  height: 100vh;
}

/* line 16, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_common.scss */
header h1 {
  background-image: -webkit-linear-gradient(92deg, #f2a025, #fec33a);
  color: #f2a025;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hueShift 10s infinite linear;
  font: 800 4rem helvetica;
}

/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-wrapper, .acct-create-wrapper {
  background-image: -webkit-linear-gradient(top, #648880, #2196F3);
  background-image: linear-gradient(to bottom, #648880, #2196F3);
  background-color: #648880;
}

/* line 7, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-container, .acct-create-container {
  animation: bounceInUp 1s ease;
  margin: 0 auto;
  max-width: 600px;
  min-width: 450px;
  padding-top: 3rem;
  width: 40%;
}
/* line 15, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-container .login-submit, .login-container .signup-submit, .login-container .create-acct-btn, .login-container input, .acct-create-container .login-submit, .acct-create-container .signup-submit, .acct-create-container .create-acct-btn, .acct-create-container input {
  animation: hueShift 10s infinite linear;
}
/* line 19, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-container .login-title-container, .login-container .signup-title-container, .acct-create-container .login-title-container, .acct-create-container .signup-title-container {
  padding-top: 2rem;
}
/* line 22, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-container .login-title-container h2, .login-container .signup-title-container h2, .acct-create-container .login-title-container h2, .acct-create-container .signup-title-container h2 {
  font: 300 2rem helvetica;
}

/* line 28, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form-container, .signup-form-container {
  padding: 0 1rem 2rem 1rem;
  position: relative;
}

/* line 33, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form, .signup-form {
  align-items: center;
  border-radius: .5rem;
  flex-direction: column;
  padding: 2rem;
}
/* line 39, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form label, .signup-form label {
  margin-bottom: 1rem;
  width: 85%;
}
/* line 43, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form label input, .signup-form label input {
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid transparent;
  color: #fafafa;
  font: 1.5rem helvetica;
  padding: .5rem;
  width: 100%;
}
/* line 51, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form label input:hover, .signup-form label input:hover {
  border: 2px solid #fafafa;
}
/* line 55, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form label input:focus, .signup-form label input:focus {
  outline: none;
  border: 2px solid #f2a025;
  box-shadow: none;
}
/* line 63, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form .login-submit, .login-form .signup-submit, .signup-form .login-submit, .signup-form .signup-submit {
  background: none;
  border: 2px solid #f2a025;
  color: #f2a025;
  cursor: pointer;
  font: 1.5rem helvetica;
  padding: 1rem;
  width: 85%;
}
/* line 72, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form .login-submit:hover, .login-form .signup-submit:hover, .signup-form .login-submit:hover, .signup-form .signup-submit:hover {
  border: 2px solid #fafafa;
  color: #fafafa;
}
/* line 77, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.login-form .login-submit:active, .login-form .signup-submit:active, .signup-form .login-submit:active, .signup-form .signup-submit:active {
  color: #f2a025;
}

/* line 83, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.create-acct-btn {
  color: #f2a025;
  cursor: pointer;
  background: none;
  border: none;
  bottom: 1rem;
  font: 0.75rem helvetica;
  position: absolute;
  right: 2rem;
}
/* line 93, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_login.scss */
.create-acct-btn:hover {
  text-decoration: underline;
}

/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.pick-category-wrapper {
  background-image: -webkit-linear-gradient(top, #2196F3, #673AB7);
  background-image: linear-gradient(to bottom, #2196F3, #673AB7);
  background-color: #2196F3;
  padding: 3rem;
}

/* line 8, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.categories-container {
  margin: 0 auto;
  max-width: 800px;
  width: 85%;
}
/* line 13, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.categories-container .options-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 18, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.categories-container .options-list .category-item {
  border: 2px solid #fafafa;
  cursor: pointer;
  padding: 3rem;
  width: 33%;
}
/* line 24, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.categories-container .options-list .category-item .category {
  font-size: 2rem;
  text-transform: uppercase;
}
/* line 29, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.categories-container .options-list .category-item:hover {
  animation: bounce 1s infinite linear;
}

/* line 36, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container {
  margin: 3rem auto;
  padding: 3rem;
  width: 85%;
}
/* line 41, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .selector-container {
  margin: 0 auto 2rem auto;
  justify-content: space-around;
  width: 100px;
}
/* line 46, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .selector-container .rules-selector {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
/* line 52, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .selector-container .rules-selector.active {
  background: #fafafa;
  border: 2px solid transparent;
}
/* line 59, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .rules {
  display: none;
}
/* line 62, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .rules.active {
  display: block;
  font-size: 1.5rem;
}
/* line 67, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .rules.first {
  animation: fadeInLeft 1s ease;
}
/* line 70, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_pick-category.scss */
.rules-container .rules.second {
  animation: fadeInRight 1s ease;
}

/* line 2, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.is-centered {
  text-align: center;
}

/* line 6, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.is-flex {
  display: flex;
}

/* line 12, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.light-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 16, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.light-upper-border {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 20, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.is-hidden {
  display: none;
}

/* line 24, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/globals/_modifiers.scss */
.is-affixed {
  visibility: visible;
  transform: translateY(-65px);
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

@keyframes hueShift {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(30deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}
/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_header-nav.scss */
.header-nav {
  margin: 0 auto;
  justify-content: center;
}
/* line 5, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_header-nav.scss */
.header-nav .nav-button {
  background: #fafafa;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin: 2% 5%;
  width: 10%;
}

/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-container {
  width: 100%;
  float: row;
  justify-content: center;
}
/* line 6, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-container .user-profile {
  margin: 1%;
  width: 70%;
}
/* line 12, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-container .social-aside {
  margin: 1%;
  width: 20%;
}

/* line 20, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.user-image-plus-name {
  align-items: center;
  justify-content: center;
  padding: 1% 5%;
  width: 80%;
}
/* line 26, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.user-image-plus-name img {
  max-width: 150px;
  margin: 2% auto;
}
/* line 31, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.user-image-plus-name .container-heading {
  font-family: helvetica;
  font-size: 2rem;
  margin: 2% auto;
}

/* line 38, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.lets-play {
  background: #fec33a;
  border-radius: 5px;
  border: none;
  font-size: 2.25rem;
  margin: 2% 40% 2% 40%;
  text-transform: uppercase;
  width: 20%;
}

/* line 48, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-score-board {
  border: 3px dashed #fec33a;
  margin: 2%;
  padding: 2%;
  width: 100%;
}
/* line 54, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-score-board h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #fec33a;
}
/* line 60, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-score-board .user-scores {
  margin: 1% auto;
  text-align: center;
  width: 100%;
  color: #fafafa;
}
/* line 66, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.profile-score-board .user-scores .cell {
  line-height: 2;
  width: 33%;
}

/* line 74, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.social-aside .container-heading {
  border-bottom: 1px dashed #fec33a;
  color: #fec33a;
  font-family: helvetica;
  font-size: 1.5rem;
  text-align: center;
}
/* line 82, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.social-aside .social-container {
  margin: 2% auto;
  padding: 2%;
  width: 80%;
}
/* line 87, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.social-aside .social-container p {
  color: #fec33a;
}
/* line 90, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_profile.scss */
.social-aside .social-container input {
  width: 100%;
  height: 50px;
}

/* line 1, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.leaderboard {
  width: 100%;
}

/* line 5, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.game-score-board {
  animation: 1s animateBorderOne ease infinite;
  outline: 6px dashed #fec33a;
  box-shadow: 0 0 0 6px #242c2d;
  margin: 2% auto;
  padding: 2%;
  width: 90%;
}
@keyframes animateBorderOne {
  to {
    outline-color: #242c2d;
    box-shadow: 0 0 0 10px #fec33a;
  }
}
/* line 20, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.game-score-board h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #fec33a;
}
/* line 26, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.game-score-board .user-scores {
  margin: 1% auto;
  text-align: center;
  width: 80%;
  color: #fafafa;
}
/* line 32, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.game-score-board .user-scores .rank {
  width: 2%;
}
/* line 36, /Users/Brentice/TIY/week_8/trivia_game/app/assets/stylesheets/partials/_leaderboard.scss */
.game-score-board .user-scores .cell {
  line-height: 2;
  width: 33%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

