<header>
  <h1 ui-sref="GameParent.pickCategory">Game Title</h1>
  <nav class="header-nav">
    <ul class="nav-list is-flex">
      <!-- ng-click="loginCtrl.navigate(leaderboard)" create method in controller-->
      <li><a class="nav-button" ui-sref="GameParent.login">Home</a></li>
      <!-- ng-click="loginCtrl.navigate(profile)" -->
      <li><a class="nav-button" ui-sref="GameParent.profile">Profile</a></li>
      <!-- ng-click="loginCtrl.navigate(pickCat)" -->
      <li><a class="nav-button" ui-sref="GameParent.pickCategory">Categories</a></li>
      <!-- ng-click="loginCtrl.navigate(leaderboard)" -->
      <li><a class="nav-button" ui-sref="GameParent.leaderboard">Leaderboard</a></li>
    </ul>
  </nav>
</header>

<ui-view><ui-view>
