body {
  background: $slate;
  color: $light;
  font: 16px/1.6 $primaryFont;
}

header {
  h1 {
    background-image: -webkit-linear-gradient(92deg, $orange, $orangeHi);
    color: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hueShift 60s infinite linear;
    font: 800 4rem $primaryFont;
  }
}
