html {
  height: 100%;
}

body {
  background: rgb(38,38,38);
  color: $light;
  font: 16px/1.6 $primaryFont;
}

main {
  height: 100vh;
}

header {
  h1 {
    background-image: -webkit-linear-gradient(92deg, $orange, $orangeHi);
    color: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hueShift 10s infinite linear;
    font: 800 4rem $primaryFont;
  }
}
