.wrapper {
  overflow: hidden;
  @include bp(mobile) {
    padding: .5rem;
  }
  @include bp(medium) {
    padding: 3rem;
  }

}
//
.truth, .lies {
  animation: blink .33s infinite;
  -webkit-animation: blink .33s infinite;
  color: transparent;
  font-family: $primaryFont;
  font-size: 2rem;
  text-align: center;
}

.disappearing-bar {
  color: #39ff14
}

.active {
  display: block;
}

.incorrect {

  @include bp(mobile) {
    display: none;
  }

  @include bp(medium) {
    display: inline-block;
    float: left;
    margin-left: 10%;
  }

}

.correct {
  @include bp(mobile) {
    display: none;
  }

  @include bp(medium) {
    display: inline-block;
    float: right;
    margin-right: 10%;
  }
}
.song-container {

  @include bp(medium) {
    width: 100%;
    margin: 1% auto;
  }

  @include bp(medium) {
    margin: 2% auto;
    width: 60%;
  }

  h1 {
      color: $orangeHi;
      font-size: 2.25rem;
      text-transform: uppercase;
      text-align: center;
  }

  .song-bar {
    @include bp(mobile) {
      border: 3px solid $light;
      border-radius: 20px;
      height: 40px;
      margin: 2% auto;
      width: 80%;
    }
    @include bp(medium) {
      width: 70%;
    }

    .disappearing-bar {
      color: transparent;
      animation: move 30s linear;
      background-color: $light;
      border-radius: 20px;
      height: 100%;
      width: 98%;
    }

    @keyframes move {
      0% {
        width: 99%;
      }
      100% {
        width: 5%;
      }
    }
  }
}

.user-guess {

  form {
    @include bp(mobile){
      flex-direction: column;
      margin: 2% auto;
      width: 90%;
    }
    @include bp(medium){
      flex-direction: column;
      margin: 2% auto;
      width: 70%;
    }

    .text-guess, .guess-button {
      background: transparent;
      border: none;
      border-bottom: 1px solid $light;
      color: $light;
      font-size: 2rem;
      margin: 2% auto;
      padding: 2%;
      width: 60%;

      &:focus {
        outline: none;
        border: 2px solid $orangeHi;
        box-shadow: none;
      }
    }

    .guess-button {
      @include bp(mobile) {
        background-color: $orangeHi;
        border: none;
        border-radius: 25px;
        color: $slate;
        cursor: pointer;
        font-size: 2rem;
        margin: 2% auto;
        width: 50%;
      }
      @include bp(medium) {
        font-size: 1.5rem;
        width: 30%;
      }
    }

  }
}

.score-container {
  @include bp(mobile){
    display: none;
  }
  @include bp(medium){
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
  }
}
