header {
  background-color: $slate;
  padding: 1rem;
  width: 100%;
  h1 {
    background-image: -webkit-linear-gradient(92deg, $orange, $orangeHi);
    color: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hueShift 10s infinite linear;
    font: 800 4rem $primaryFont;
    text-align: center;
    @include bp(mobile) {
      display: none;
    };
    @include bp(small){
      display: none;
    };
    @include bp(medium) {
      display: block;
    }
  }
}

.header-nav {
  width: 50%;
  margin: 1% auto;

  .nav-list {
    @include bp(mobile) {
      justify-content: center;
    }

    @include bp(medium) {
      justify-content: space-around;
    }

  }

  .nav-button {
    @include bp(mobile) {
      color: $light;
      font-size: 1rem;
      margin: 0 .5%;
      padding: .5rem;
      text-decoration: none;
      width: 70%;
    }
    @include bp(medium) {
      color: $light;
      font-size: 1rem;
      padding: .5rem;
      text-decoration: none;
      width: 100%;
    }

    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
