header {
  background-color: $slate;
  padding: 2rem;
  h1 {
    background-image: -webkit-linear-gradient(92deg, $orange, $orangeHi);
    color: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hueShift 10s infinite linear;
    font: 800 4rem $primaryFont;
    text-align: center;
  }
}

.header-nav {
  margin: 1rem auto 0 auto;
  width: 50%;

  .nav-list {
    justify-content: space-around;
  }

  .nav-button {
    color: $light;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
