.header-nav {
  margin: 0 auto;
  justify-content: center;

  .nav-button {
    background: $light;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin: 2% 5%;
    width: 10%;
  }
}
