.profile-container {
  background-image: linear-gradient(to bottom,#2196F3,#673AB7);
  background-color: #2196F3;
  width: 100%;
  justify-content: center;
  float: row;

  .user-profile {
    // background-color: blue;
    @include bp(mobile) {
      margin: 1rem 1% 1% 1%;
      width: 100%;
    }
    @include bp(medium) {
      margin: 1rem 1% 1% 1%;
      width: 70%;
    }
  }
}

.user-avatar-container {
  align-items: center;
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  background-color: #fafafa;
  justify-content: center;
  padding: .5% 5%;
  width: 100%;

  img {
    max-width: 200px;
    margin: 1.25rem 2rem;
  }

  .container-heading {
    color: #000;
    font-family: $primaryFont;
    font-size: 2rem;
    margin: 2% auto;
    text-transform: capitalize;
  }

  .btns-container {
    button {
      background: none;
      border: none;
      cursor: pointer;
      font: .75rem $primaryFont;
      text-decoration: underline;
    }
  }
}

.lets-play {
  background: $orangeHi;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  margin: 2% 40% 2% 40%;
  padding: 1rem;
  text-transform: uppercase;
  min-width: 20%;

  &:hover {
    animation: bounce 1s infinite ease;
  }
}

.profile-score-board {
  background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');
  background-color: #fafafa;
  margin: 2% 2% 2% 0;
  padding: 2%;
  width: 100%;

  h3 {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    color: $slate;
  }

  .user-scores {
    color: #000;
    margin: 1% auto;
    width: 100%;
    text-align: center;


    .cell {
      display: inline;
      list-style-type: none;
      line-height: 2;
      margin: 5%;
      width: 33%;
      text-align: right;
    }
  }
}
