<main class="login-wrapper">
  <section class="login-container">
    <div class="login-title-container is-centered">
      <h2>Welcome!</h2>
    </div>
    <div class="login-form-container">
      <form name="loginForm" ng-submit="loginCtrl.authenticate(loginForm.username.$viewValue, loginForm.password.$viewValue)" class="login-form is-flex" novalidate>
        <label for="username"><input type="text" name="username" ng-model="username" ng-required="true" placeholder="username"></label>
        <label for="password"><input type="password" name="password" ng-model="password" ng-required="true" placeholder="password"></label>
        <button class="login-submit" ng-disabled="loginForm.$invalid">Log In</button>
      </form>
      <button class="create-acct-btn">create an account</button>
    </div>
  </section>
</main>
