<section>
  <form name="loginForm" ng-submit="loginCtrl.authenticate(loginForm.username.$viewValue, loginForm.password.$viewValue)" class="login-form is-flex" novalidate>
    <label for="username">Username:<input type="text" name="username" ng-model="username" ng-required="true" placeholder="username"></label>
    <label for="password">Password:<input type="password" name="password" ng-model="password" ng-required="true" placeholder="password"></label>
    <button class="login-submit" ng-disabled="loginForm.$invalid">Log In</button>
  </form>
  <button>create an account</button>
</section>
